

services:

  fcs:
    image: registry.brauhausdc.org:5000/fcs/fcs:25.2.16
    build:
      dockerfile: Dockerfile
      tags:
        - registry.brauhausdc.org:5000/fcs/fcs:25.2.16

    x-bake:
      platforms:
        - linux/arm64
        - linux/amd64
#        - linux/arm/v7

    container_name: fcs
    # privileged: true
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '.5'
        reservations:
          memory: 256M
          cpus: '0.5'
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
      - TZ=UTC
      - OTEL_SERVICE_NAME=copterfeeder
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp
    env_file: ".env"
    extra_hosts:
      #- host.docker.internal:172.17.0.1
       - "host.docker.internal:host-gateway"
    ports:
      - 8999:8999
    command: ["python3", "fcs.py", "-i", "15", "-w", "-v"]
