
# comment

services:

  fcs:
    image: fcs:25.2.17
    build:
      context: .

    # dockerfile: Dockerfile
    #   tags:
    #     - registry:5000/fcs/feed_copterspotter:latest
    # x-bake:
    #   platforms:
    #     - linux/amd64
    #     - linux/arm64

    container_name: fcs
    privileged: true
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
      - OTEL_SERVICE_NAME=copterfeeder
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_LOGS_EXPORTER=otlp
    env_file: ".env"
    extra_hosts:
      #- host.docker.internal:172.17.0.1
       - "host.docker.internal:host-gateway"
    ports:
      - 8999:8999
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '.5'
        reservations:
          memory: 256M
          cpus: '0.5'
    command: ["python3", "fcs.py", "-i", "15", "-w", "-v"]
