# Include Stadard requirements as well
-r requirements.txt

# Dev requirements
ipython
pre-commit
pre-commit-hooks
black
blacken-docs
commitizen
#pytest
#pytest-cov
#pytest-mock
#pytest-notimplemented
